<?xml version="1.0"?>

<model>
    <name>OAK-D_Camera</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>

    <author>
        <name>Lithika</name>
        <email>sarvanan2907@gmail.com</email>
    </author>

    <description>
        OAK-D Camera Model
    </description>
</model>